.btn {
    padding: 10px 15px;
    background: #99040b;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #99040b
}

.category {
    height: 100px;
    width: 200px;
    background-color: white;
    border-color: rgb(255, 255, 255);
    margin: 20px;
    border: 0px;
    border-radius: 10%;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border: none
}

.categoryContenido {
    width: 80px;
    margin-top: 5px;
}

.categoryP {
    padding-left: 5px;
    padding-right: 5px;
}

.categoryTitulo {
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}