.Item {
    height: 350px;
    width: 200px;
    background-color: white;
    border-color: rgb(231, 205, 205);
    margin: 20px;
    border: 1px;
    border-radius: 10%;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border: ridge
}

.btn {
    padding: 10px 15px;
    background: #99040b;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #99040b
}

.ItemContenido {
    width: 80px;
    margin-top: 5px;
}

.ItemP {
    padding-left: 5px;
    padding-right: 5px;
}

.ItemS {
    padding-left: 5px;
    padding-right: 5px;
    font-size: xx-small;
}

.ItemTitulo {
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}