.navbar {
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.App {
    text-align: center;
}

.App-logo {
    /* height: 40vmin; */
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    width: 80%;
    height: 5rem;
    background-color: #99040b;
    padding: 0 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center
}

.header nav {
    height: 100%;
}

.header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.header li {
    margin: 0 1rem;
    width: 5rem;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
}