.stock {
    font-size: x-small;
    color: grey;
    border-bottom-style: groove;
}

.verDetalle {
    margin: 0;
}

.btnContainer {
    text-align: -webkit-center;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    background: #99040b;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #99040b;
    width: fit-content;
}


/* btnBTN */

.btnBTNdte {
    background-color: #99040b;
    color: white;
    border-width: thin;
    padding: 8px;
    margin: 5px;
}